html {
  background-color: $light-grey;
}

body {
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  max-width: $site-max-width;
  position: relative;
}

// 12-Column Grid Layout.
.grid {
  display: grid;
  grid-column-gap: $grid-gutter;
  grid-template-columns: repeat($grid-columns-mobile, 1fr);
  -ms-grid-columns: repeat($grid-columns, 1fr); // For IE
  margin: 0 auto;
  max-width: calc(100% - (#{$grid-gutter} * 2));
  width: $grid-max-width;

  @include mq($ph) {
    grid-template-columns: repeat($grid-columns, 1fr);
    -ms-grid-columns: repeat($grid-columns, 1fr); // For IE
  }

  @include mq($xxl) {
    width: $grid-max-width-xxl;
  }

  &.no-gap {
    grid-column-gap: 0;
  }
}

// For themers to check their work against the 12-column grid guidelines.
#grid-checker {
  background: transparent;
  display: grid;
  grid-auto-rows: minmax(100%, auto);
  left: 0;
  height: 100%;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;

  p {
    background: $black;
    margin: 0;
    opacity: 0.1;
    width: 100%;
  }
}

// Sets the limitations of the full site container. Do not set if you want an
// element to stretch the full width of the site.
.container {
  margin: 0 auto;
  max-width: $grid-max-width + ($grid-gutter*2);
  overflow-x: hidden;

  @include mq($xxl) {
    max-width: $grid-max-width-xxl + ($grid-gutter*2);
  }
}

// Creates side padding so content always stays within the grid and doesn't
// touch the sides on mobile devices.
.content-side-padding {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}
