// Base hamburger styles. TODO: change based on your project's needs.
.ts-menu-toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq($md) {
    display: none;
  }
}

.menu-toggle {
  border: none;
  float: right;
  padding: calc(#{$grid-gutter}*1.5);
  position: relative;
  z-index: 6;

  div {
    span {
      background-color: $black;
      height: 4px;
      left: 50%;
      position: absolute;
      transition: background-color 0.3s;
      width: 28px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      &:before,
      &:after {
        background: $black;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        transform: translateY(-200%);
        transition: transform 0.3s;
        width: 100%;
        z-index: 10;
      }
      &:after {
        transform: translateY(200%);
      }
    }
  }
  &.active {
    div span {
      background-color: transparent;
      &:before,
      &:after {
        background: $black;
        transform: rotate(45deg) translateY(0);
        transition: transform $transition-defaults;
      }
      &:after {
        transform: rotate(-45deg) translateY(0);
      }
    }

    @include hocus {
      div span {
        background-color: transparent;
      }
    }
  }

  @include hocus {
    div span,
    div span:before,
    div span:after {
      background-color: $black;
    }
  }
}

// Expanded menu
.mobile-menu-target {
  opacity: 0;
  padding: $grid-gutter;
  position: absolute;
  right: 0;
  top: 56px;
  transition: visibility 0s 0.2s, opacity $transition-defaults;
  visibility: hidden;
  z-index: 10;

  &.expanded {
    opacity: 1;
    transition: opacity $transition-defaults;
    visibility: visible;
    
    @include mq($md) {
      display: none;
    }
  }
}
