/***
 * @file
 * VARIABLES - See theme Readme for more details.
 * ToDo: Change the values for these variables as they relate to your project.
 */

/* COLORS */
$black: #000000;
$white: #ffffff;

$light-grey: #EDEDED; // Color used in the side margins when viewing on xxl screens.
$light-gray: $light-grey;


/* FONTS */

// Base Font Size
$base-font-size: 16;


/* BREAKPOINTS */

// Small screen / phone
$sm: 0;
// Phablet / in between mobile and tablet
$ph: 501px;
// Medium screen / tablet
$md: 769px;
// Large screen / desktop
$lg: 1025px;
// Extra large screen / wide desktop
$xl: 1442px;
// Double Extra large screens / wide monitor
$xxl: 2000px;


/* GRID */
$grid-max-width: 1260px; // Where the content begins and ends for desktops.
$grid-max-width-xxl: 1575px; // Where the content begins and ends for xl screens.
$site-max-width: 2000px; // Where the site begins and ends regardless of larger screens.

//Use as base padding and margin sizes that relate back to the grid
$grid-gutter: 25px;
$grid-gutter-double: $grid-gutter * 2;

$grid-columns-mobile: 4;
$grid-columns: 12;


/* MISC. */

// Transitions
$transition-defaults: 0.2s linear;

//Padding values
$padding-vertical: 48px;
