/***
 * @file
 * MIXINS - See theme Readme for more details.
 */


/* MEDIA QUERIES */
@mixin mq($query) {
  @media (min-width: rem($query)) {
    @content;
  }
}


/* PX TO REM CONVERSION */
@function rem($pixels, $context: $base-font-size) {
  @if (unitless($pixels)) { $pixels: $pixels * 1px; }
  @if (unitless($context)) { $context: $context * 1px; }
  @return $pixels / $context * 1rem;
}


/* FONTS */

// Font styles - ToDo: Add project fonts.
@mixin font($family, $weight: 'normal', $style: 'normal') {
  font-family: $family, sans-serif;

  @if ($weight == 'black') {
    font-weight: 900;
  } @else if ($weight == 'bold') {
    font-weight: 700;
  } @else if ($weight == 'semibold') {
    font-weight: 600;
  } @else if ($weight == 'medium') {
    font-weight: 500;
  } @else if ($weight == 'regular') or ($weight == 'italic'){
    font-weight: 400;
  } @else if($weight == 'book') {
    font-weight: 300;
  } @else if($weight == 'light') {
    font-weight: 200;
  }

  // Set italic style
  @if ($style == 'italic') {
    font-style: italic;
  }
}

// Fonts and accessible line-heights. Apply the $size (font-size) and
// $line-height values from the designs here (in px). $baseFontSize is the
// base font-size assigned for this project.
@mixin font-line-height($font-size: $base-font-size, $line-height: 20) {
  $font-size-px: $font-size * 1px;
  $base-font-size-px: $base-font-size * 1px;
  font-size: ($font-size-px / $base-font-size-px) * 1rem;
  line-height: ($line-height / $font-size);
}


/* GRID */

// Centers a column on the page
@mixin center-columns($centered-columns, $total-columns) {
  @if($total-columns - $centered-columns == 0) {
    grid-column: 1 / calc(#{$total-columns} + 1);
  } @else {
    $position-left: ($total-columns - $centered-columns)/2 + 1;
    $position-right: $position-left + $centered-columns;
    grid-column: $position-left / $position-right;
  }
}

// Gutter spacing
// Pass in "right, left, top or bottom" to add consistent margin; pass in 'half' to halve the margin; pass in 'minus' to set a negative margin.
@mixin margin-gutter($side: bottom, $half: false, $minus: false) {
  @if ($half == false) {
    @if ($minus == false) {
      margin-#{$side}: $grid-gutter;
      @include mq($ph) { margin-#{$side}: $grid-gutter; }
    } @else {
      margin-#{$side}: $grid-gutter;
      @include mq($ph) { margin-#{$side}: ($grid-gutter * -1); }
    }
  } @else {
    @if ($minus == false) {
      margin-#{$side}: ($grid-gutter / 2);
      @include mq($ph) { margin-#{$side}: ($grid-gutter / 2); }
    } @else {
      margin-#{$side}: (($grid-gutter / 2) * -1);
      @include mq($ph) { margin-#{$side}: (($grid-gutter / 2) * -1); }
    }
  }
}

// Gutter spacing w/ Grid
@mixin grid-equal-items($items-in-row) {
  @if ($items-in-row == 2) {
    $percent: calc(50% - (#{$grid-gutter}/2));
    grid-template-columns: $percent $percent;
  } @else if ($items-in-row == 3) {
    $percent: calc(33.33% - (#{$grid-gutter}/1.5));
    grid-template-columns: $percent $percent $percent;
  } @else if ($items-in-row == 4) {
    $percent: calc(25% - #{$grid-gutter});
  } @else {
    $percent: 100%;
    grid-template-columns: $percent;
  }
}


/* FLEXBOX */

// Wrapper for a flex grid - the arguments set the justification and the
// starting breakpoint.
//
// Note: Use if needing to create a grid with items centered in the final row.
// In the case of left-aligned final row items, use grid-equal-items() above.
//
// flex-basis will need to be added to the items themselves. Ex. 25% for 4 across.
@mixin flex-grid-wrapper($justify: center,$bp-start: $sm) {
  @include margin-gutter(left, half, minus);
  @include margin-gutter(right, half, minus);
  @include mq($bp-start) {
    @include margin-gutter(left, half, minus);
    @include margin-gutter(right, half, minus);
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
  }
  @content;
}

// Pass in "right, left, top or bottom" to add consistent margin; pass in 'half' to halve the margin; pass in 'minus' to set a negative margin.
@mixin margin-gutter($side: bottom, $half: false, $minus: false) {
  @if ($half == false) {
    @if ($minus == false) {
      margin-#{$side}: $grid-gutter;
    }
  } @else {
    @if ($minus == false) {
      margin-#{$side}: ($grid-gutter / 2);
    } @else {
      margin-#{$side}: (($grid-gutter / 2) * -1);
    }
  }
}

// Pass in "right, left, top or bottom" to add consistent padding; pass in 'half' to halve the padding.
@mixin padding-gutter($side: bottom, $half: false) {
  @if ($half == false) {
    padding-#{$side}: $grid-gutter;
  } @else {
    padding-#{$side}: ($grid-gutter / 2);
  }
}

// Each argument is items per row in each breakpoint
@mixin flex-grid-item($sm-num: 1, $ph-num: 2, $md-num: 3, $sl-num: 3, $lg-num: 4, $xl-num: 4, $xxl-num: 4) {

  $breakpoints:
      ($sm, $sm-num),
      ($ph, $ph-num),
      ($md, $md-num),
      ($lg, $lg-num),
      ($xl, $xl-num),
      ($xxl, $xxl-num);

  // Default styles
  @include padding-gutter(left, half);
  @include padding-gutter(right, half);
  box-sizing: border-box;

  @each $bp, $bp-num in $breakpoints {
    @include mq($bp) {
      @if ($bp-num > 0) {
        flex: 0 0 (100% / $bp-num);
        max-width: (100% / $bp-num);
      }
    }
  }
  @content;
}


/* DECORATIVE ELEMENTS */

// Background Images
@mixin bg_image_setup {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Gradients & Overlays
// Set parent of pseudo element to position relative
@mixin gradient_setup {
  content: "";
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

// Transparent at the top.
@mixin hero_bottom_gradient($direction: to top, $color: $black) {
  background: transparent linear-gradient($direction,
    rgba($color, 1) 0%,
    rgba($color, 0.0) 30%
  );
  @include mq($md) {
    background: transparent linear-gradient($direction,
      rgba($color, 1) 0%,
      rgba($color, 0.9) 10%,
      rgba($color, 0.8) 20%,
      rgba($color, 0.6) 35%,
      rgba($color, 0.2) 60%,
      rgba($color, 0.0) 100%
    );
  }
}


/* UTILITIES */

// Accessibly hide
@mixin hide {
  left: -10000px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

// Combine active, hover, and focus for accessibility purposes
@mixin hocus {
  &:active,
  &:hover,
  &:focus {
    @content;
  }
}

// Placeholder text
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

// Remove webkit appearance from form fields
@mixin form-foundation {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}


/* UNIQUE TO PROJECT */
