{#
/**
 * @file
 * TS Grid Checker - this is a template for creating the visual grid helper. It
 * appears when appending `/?show-grid` to any url related to this project.
 *
 * Use of this template requires the Components Drupal module.
 * https://www.drupal.org/project/components
 */
#}

<div id="grid-checker" class="grid">
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
</div>
