<button class="menu-toggle" aria-label="Open mobile menu">
  <div class="ts-menu-toggle-wrapper">
    <span>Menu Toggle</span>
  </div>
</button>

<div class="mobile-menu-target">
  <div class="ts-mobile-menu__wrapper">
    Insert mobile menu items here!
  </div>
</div>
